<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="automationEngine" value="Appium" />
    <!--<add key="deviceName" value="Emulator" />-->
    <add key="deviceName" value="Android Emulator" />
    <add key="platformVersion" value="10" />
    <add key="udid" value="emulator-5554" />
    <add key="fullReset" value="True" />
    <add key="MobileCapabilityType" value="Browser" />
    <add key="platformName" value="Android" />
    <add key="appiumServerUrl" value="http://127.0.0.1:4723/wd/hub" />
    <add key="timeOut" value="10" />
    <add key="VERBOSE_MODE" value="OFF" />
  </appSettings>
</configuration>